@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<div class="text-center py-5">
    <h1 class="display-4">Something blew up</h1>
    <p class="lead">@(Model?.Exception?.Message ?? "Sorry, an unexpected error occurred.")</p>
    @if (Model != null && System.Web.HttpContext.Current.IsDebuggingEnabled)
    {
        <pre class="text-start small bg-light p-3">@Model.Exception.ToString()</pre>
    }
    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Take me home</a>
</div>
