<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="MicrosoftLocalPackages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\_packages" />
    <add key="AtatusLocal" value="C:\AtatusDotNet\dotnet-framework\_packages" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
</configuration>
